body {
  overflow-x: hidden;
  overscroll-behavior: none;
  background: linear-gradient(45deg, #000000e3 75%, #330000 100%);
  min-height: 100vh;
  color: white;
  margin: 0;
}

header {
  border: 0.5px solid #333;
  background-image: url("/images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  color: white;
  padding: 20px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

footer {
  border: 0.5px solid #333;
  background-color: black;
  padding: 30px 20px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  display: inline;
  margin-right: 20px;
  padding-top: 15px;
}

section {
  position: relative;
  max-width: 100%;
  width: 80%;
  border-bottom: 1px solid #333;
  padding: 30px;
  scroll-margin-top: 170px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 190px;
}

#mainTitle:hover, #photoTitle:hover, #designTitle:hover, #beatsTitle:hover, #albumTitle:hover, #aboutTitle:hover {
  color: inherit;
  transition: none;
}

#beatsIntro {
  border: none;
}

#albumsIntro {
  border: none;
}

#photoIntro {
  border: none;
}

#designIntro {
  border: none;
}

#intro {
  border-top: 1px solid #333;
  margin-top: 10px;
}

#contact {
  margin-bottom: 10px;
}

#playlist {
  position: relative;
  max-width: 100%;
  width: 80%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
}

#albumGallery {
  position: relative;
  max-width: 100%;
  width: 80%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
}

#photoGallery {
  position: relative;
  max-width: 100%;
  width: 80%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  
}

#designGallery {
  position: relative;
  max-width: 100%;
  width: 80%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
}

