body {
  background: linear-gradient(45deg, #000000e3 75%, #330000 100%);
  min-height:100vh;
  color:white;
  margin: 0;
}

header {
    background-image: url('/images/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    color:white;
    padding: 30px 20px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
  background-color: black;
  padding: 30px 20px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  display: inline;
  margin-right: 20px;
  justify-content: center;
}

